.pdf_view {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf_view p {
    margin-top: -10px;
    margin-bottom: -5px;
}


.separador {
    width: 100%;
    height: 2px;
    margin: 5px auto;
    background-color: #2C3B53;
}

.pdf_view embed {
    transition: 1s ease-in-out;
    width: 100%;
    height: 1500px;
    overflow-y: hidden;
    border-radius: 30px;
    margin-bottom: 10px;
}
